/* frontend/src/components/WhatsAppButton.css */
.whatsapp-button-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25D366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el icono cuando no hay texto */
  text-decoration: none;
  transition: all 0.3s ease;
  overflow: hidden; /* Sigue ocultando el texto cuando no está en hover */
}

.whatsapp-button-float:hover {
  width: 180px; /* Se expande en hover */
  border-radius: 30px;
  box-shadow: 2px 2px 8px #777;
  /* Centra el contenido horizontalmente cuando hay espacio para el texto */
  justify-content: flex-start; /* Alinea los elementos al inicio para hacer espacio al texto */
  padding-left: 15px; /* Pequeño padding para que el icono no esté pegado al borde */
}

.whatsapp-icon {
  /* El icono debe ser visible por defecto */
  margin-right: 0; /* Aseguramos que no tenga margen derecho inicial que lo empuje */
  transition: margin-right 0.3s ease; /* Transición para el movimiento en hover */
}

.whatsapp-text {
  font-size: 18px;
  margin-left: 0;
  opacity: 0; /* Oculto por defecto */
  white-space: nowrap;
  transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.whatsapp-button-float:hover .whatsapp-icon {
  margin-right: 10px; /* Mueve el icono a la izquierda para hacer espacio al texto */
}

.whatsapp-button-float:hover .whatsapp-text {
  opacity: 1; /* Muestra el texto en hover */
  margin-left: 5px; /* Pequeño margen entre icono y texto */
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .whatsapp-button-float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
  }
  .whatsapp-button-float:hover {
    width: 150px;
  }
  .whatsapp-text {
    font-size: 16px;
  }
}